body{
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  margin: 0;
  height: 100vh;
}
.mainAppContainer{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main{
  display: flex;
  flex-grow: 1;
}

.pages{
  flex-grow: 1;
  padding: 1%;
}

.main-context{
  height: inherit;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 55%;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: #1F2937;
  color: aliceblue;
}

.logo{
  font-size: large;
  font-weight:bolder;
}

button{
  background: none;
  border: none;
  color: aliceblue;
  cursor: pointer;
}

input{
  height: 4rem;
  border: lightgrey solid;
  border-radius: 10px;
}

.generate{
  background-color: dodgerblue;
  border-radius: 10px;
  width: fit-content;
  padding: 10px 20px;
  margin-top: 10px;
}

#outer{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.4;
  justify-content: center;
  display: flex;
  text-overflow: ellipsis;
  bottom: 0;
  background: black;
}

#middle{
  height: 60px;
  width: 60px;
  margin:auto;
  /* position: relative;
  top:20px; */
  border-radius: 50%;
  background-image: linear-gradient(150deg, transparent 50%, gray 50%),linear-gradient(90deg, gray 50%, white 50%);
   -webkit-animation: rotation 1200ms infinite linear;
  transform-origin: 50% 50%;
  animation-timing-function: ease;
}
#inner{
  background: black;
  height: 48px;
  width: 48px;
  margin:auto;
  position: relative;
  top:6px;
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(270deg);
  }
  to{
    -webkit-transform: rotate(630deg);
    }
  }